* {
  box-sizing: border-box;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(122, 143, 176);
  margin: 0;
  gap: 10px;
  color: white;
}
#calculator {
  width: 300px;
  height: 550px;
  background-color: rgb(224, 228, 232);
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4);
  font-size: 20px;
  overflow: hidden;
}

#display {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  color: black;
  height: 150px;
  padding: 20px;
  position: relative;
}

#calculator-memory {
  position:absolute;
  font-size: 15px;
  top:20px;
  left:20px;
}

#display-input {
  font-size: 45px;
  height: 52px;
  white-space:nowrap;
}

#display-eval {
  font-size: 30px;
  height: 36px;
}

#error {
  top: 50px;
  color: red;
  position: absolute;
  font-size: 25px;
}

#flashing {
  position: absolute;
  font-size: 45px;
  height: 52px;
  top: 30px;
  right: 18px;
  animation: flash 1s linear infinite; 
}

@keyframes flash {
  from {
    border: none;
  }
  to {
    border-right: 2px solid blue;
  }
}

#grid-wrapper {
  height: 400px;
  width: 300px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 20px 15px 25px 15px;
  background-color: rgb(242, 242, 243);
  border-radius: 20px;
  -webkit-box-shadow: 0px -3px 16px 0px rgba(0, 0, 0, 0.087);
  -moz-box-shadow: 0px -3px 16px 0px rgba(0, 0, 0, 0.087);
  box-shadow: 0px -3px 16px 0px rgba(0, 0, 0, 0.087);
}

button {
  border-radius: 50%;
  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  border: 1px rgba(255, 255, 255, 0.256) solid;
  -webkit-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.079);
  -moz-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.079);
  box-shadow: 1px 2px 1px 1px rgba(0, 0, 0, 0.079);
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color: white;
  background-color: rgb(189, 189, 189);
  border: none;
}

p {
  margin: 0 10px;
}

.blue {
  color: blue;
}

.number {
  font-size: 29px;
}

.operator {
  font-size: 23px;
}

#delete {
  font-size: 22px;
}

#clear {
  font-size: 22px;
}

#equals {
  grid-row-start: span 2;
  border-radius: 50px;
  background-color: blue;
  color: white;
  height: 120px;
  font-size: 24px;
}

button#equals:hover {
  background-color: rgb(0, 0, 163);
}

#decimal {
  font-size: 25px;
  font-weight: 600;
}

.memory {
  font-size: 20px;
}

.hover {
  background-color: white;
  background-color: rgb(189, 189, 189);
  border: none;
}

footer {
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: 10px;
}

i.fa-github {
  color: white;
}

i.fa-github:hover {
  color: black;
}

@media (min-height: 900px) {
  body {
    justify-content: space-evenly;
  }
}