:root {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(122, 143, 176);
  margin: 0;
  gap: 10px;
  color: white;
}
#calculator {
  width: 320px;
  height: 600px;
  background-color: rgb(234, 237, 240);
  border-radius: 20px;
  -webkit-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4);
  box-shadow: 4px 4px 16px 0px rgba(0, 0, 0, 0.4);
  font-size: 20px;
}

#display {
  display: flex;
  justify-content: end;
  align-items: center;
  color: black;
  height: 150px;
  font-size: 40px;
}

#grid-wrapper {
  height: 400px;
  width: 280px;
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 10px;
  padding: 25px 20px 25px 20px;
  background-color: rgb(242, 242, 243);
  border-radius: 20px;
}

button {
  border-radius: 50%;
  font-size: clamp(16px, 1vw, 20px);
  background-color: rgb(247, 247, 247);
  color: rgb(0, 0, 0);
  border: 1px rgba(255, 255, 255, 0.256) solid;
  -webkit-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.079);
  -moz-box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.079);
  box-shadow: 1px 2px 1px 0px rgba(0, 0, 0, 0.079);
  width: 50px;
  height: 50px;
  cursor: pointer;
}

button:hover {
  background-color: white;
  transition: 0.5s;
  background-color: rgb(189, 189, 189);
  border: none;
}

p {
  margin: 0 10px;
}

.blue {
  color: blue;
}

.number {
  font-size: 27px;
}

.operator {
  font-size: 22px;
}

#delete {
  font-size: 22px;
}

#clear {
  font-size: 22px;
}

#equals {
  grid-row-start: span 2;
  border-radius: 50px;
  background-color: blue;
  color: white;
  height: 120px;
}

button#equals:hover {
  background-color: rgb(0, 0, 163);
}

#decimal {
  font-size: 25px;
  font-weight: 600;
}

.memory {
  font-size: 21px;
}

footer {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  margin: 10px;
}