body {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

button {
  border-radius: 10px;
}

#display {
  display: flex;
  justify-content: end;
  align-items: center;
}

span {
  font-size: 20px;
}

#calculator {
  height: 20vh;
  width: 20vh;
  background-color: dimgray;
  border-radius: 10px;
  padding: 10px;
}

#display {
  width: inherit;
  height: 40px;
  background-color: beige;
  margin-bottom: 10px;
  border-radius: 10px;
}

#grid-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
}